.squares-sprite, .squares-ten-by-ten, .squares-twenty-by-twenty {
  background: url(static/assets/squares-sEjS8jo0MEboMfAWPXdhkw.png) no-repeat;
}
.squares-ten-by-ten {
  background-position: 0px 0px;
}

.squares-twenty-by-twenty {
  background-position: 0px -10px;
}
