.svg-sprite, .svg-red-triangle, .svg-yellow-star {
  background: url(static/assets/svg-6e_w0_3w_F_ms0j0rbF13w.svg) no-repeat;
}
.svg-red-triangle {
  background-position: 0px 0px;
}

.svg-yellow-star {
  background-position: 0px -32px;
}
